dist/
dist-newstyle/
dist-docs*/
*.cabal
cabal.project.local
cabal.project.local~
.ghc.*
result
result-*
.history
cbits/*.o
# next line contains copied files from Souffle repo, used to create self-contained analysis
cbits/souffle/*
!cbits/souffle/.keep
upload-docs.sh
