name: "Build"
on: [push, pull_request]
jobs:
  build:
    runs-on: ${{matrix.os}}
    strategy:
      matrix:
        os: [ubuntu-latest]
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      # In this step, this action saves a list of existing images, the cache is created without them in the post run.
      # It also restores the cache if it exists.
      - uses: jpribyl/action-docker-layer-caching@v0.1.1
        continue-on-error: true # Ignore the failure of a step and avoid terminating the job.

      - name: Build and test
        run: |
          set -eo pipefail
          export TIMESTAMP=$(date +%s)
          docker build -f Dockerfile . -t souffle-haskell:$TIMESTAMP | tee souffle-haskell-lang-${{matrix.os}}.log
          docker run --rm souffle-haskell:$TIMESTAMP bash -c "make tests" | tee -a souffle-haskell-lang-${{matrix.os}}.log

      - name: Upload logs
        if: ${{ always() }}
        uses: actions/upload-artifact@v2
        with:
          name: souffle-haskell-lang-${{matrix.os}}.log
          path: souffle-haskell-lang-${{matrix.os}}.log
